<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <div class="plan_box">
      <h3>Free Plan</h3>
      <p>
        <br> Free Speech
        <br> Good for Citizens
      </p>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="plan_box">
      <h3>Good Plan</h3>
      <p>
        <br> Budgeted Speech
        <br> Good for Small Business
      </p>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="plan_box">
      <h3>Insane Plan</h3>
      <p>
        <br> The 1% Speech
        <br> Good for Goldman Sachs
      </p>
    </div>
  </div>
</div>